@charset "utf-8";

#first{
	color: white;
}
.page-header ul li a{
	color: 	#8A8A8A;
	font-size: 18px;
}
.table button{
	border: none;
	background-color: white;
	
}
.foot{
	text-align: center;
	background-color: rgb(24,24,24);
	color:#838B83;
}
.leftFix{
	padding-left: 30px;
}

#name{width: 70%;}
#time{width: 30%;}
.tableLeft{
	width: 70%;
}
.tableRight{
	width: 30%;
}
.ck{
	margin-left: 0px!important;
	margin-right: 4px!important;
}
