@charset "utf-8";
.page-header  ul li a{
	color: 	#8A8A8A;
	font-size: 18px;
}
.jumbotron ul li a{
	color: #696969;
	font-size: 20px;

}
.jumbotron ul li a:hover{
	cursor: pointer;
	
}
.scannum{
	text-align: right;
}
.foot{
	text-align: center;
	background-color: rgb(24,24,24);
	color:#838B83;
}

       
        .hou{
            color: #EE7600;
        }
        .bg{
           color:#8A8A8A;
        }
        .white{
			color: white !important;
		}